*/20*/*.aux
*/20*/*.log
*/20*/*.pdf
*/20*/sheet*/*
*/20*/exam*/*
*/task-catalogue/*.aux
*/task-catalogue/*.log
*/task-catalogue/*.pdf
*/task-catalogue/collection-expanded.tex
*/task-catalogue/collection-nosolutions.tex
*/task-catalogue/snaps
*/task-catalogue/catalogue